[pull]
        ff = only
[push]
        default = current
[pager]
        log = diff-so-fancy | less -RFX
        show = diff-so-fancy | less -RFX
        diff = diff-so-fancy | less -RFX
        grep = less -RFX
[log]
        abbrevCommit = true
        decorate = short
[fetch]
        prune = true
[alias]
        unstage = reset HEAD --
        canoe = commit --amend --no-edit
        dc = diff --cached
        l = log --branches --graph
        lm = log --graph master^...
        ld = log --graph develop^...
        cf = commit --fixup
        rf = rebase --interactive --autosquash
        rfa = rebase --interactive --autosquash --autostash
        whoami = !echo `git config --get user.name` \\<`git config --get user.email`\\>
        whowasi = log -1 --format='git config --local user.name \"%an\" && git config --local user.email \"%ae\"'
        bye = !git branch --merged | grep -vF '*' | xargs -r git branch -d
        remove-untracked = !git ls-files -zo --exclude-standard | xargs -0 rm -v
        tree = !git ls-tree -r --name-only HEAD | tree --fromfile -N
        show-default-branch = !{ \
                                 git symbolic-ref --short refs/remotes/origin/HEAD | cut -d/ -f2- ";" \
                                 git branch -l main ";" \
                                 git branch -l master ";" \
                               } 2> /dev/null | head -n 1
        ready = !git switch \"$(git show-default-branch)\" && git pull && git bye
[diff]
        algorithm = patience
        indentHeuristic = true
[credential]
        helper = cache --timeout=360000
[core]
        quotepath = false
[rerere]
        enabled = true
[interactive]
        diffFilter = diff-so-fancy --patch
