zmodule input
zmodule termtitle
zmodule utility

zmodule Aloxaf/fzf-tab

zmodule z-shell/F-Sy-H
zmodule zsh-users/zsh-autosuggestions
zmodule zsh-users/zsh-completions

# Put this to the last.
zmodule unixorn/fzf-zsh-plugin
zmodule completion
