zmodule input
zmodule termtitle
zmodule utility

zmodule marlonrichert/zsh-autocomplete
zmodule gnachman/iTerm2-shell-integration --source shell_integration/zsh

zmodule z-shell/F-Sy-H
zmodule zsh-users/zsh-autosuggestions
zmodule zsh-users/zsh-completions

# Put this to the last.
zmodule unixorn/fzf-zsh-plugin
zmodule completion
