zmodule input
zmodule termtitle
zmodule utility

zmodule asdf

zmodule gnachman/iTerm2-shell-integration --source shell_integration/zsh

zmodule zsh-users/zsh-autosuggestions
zmodule zsh-users/zsh-completions

# 以下は最後に読む込む指示のあるプラグイン
zmodule zsh-users/zsh-syntax-highlighting
zmodule marlonrichert/zsh-autocomplete
zmodule unixorn/fzf-zsh-plugin
zmodule completion
